@import "src/style/base/base";

//底部
.nav-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    background: $color-back;
}

.footer-nav-group {
    width: 100%;
    height: inherit;
    line-height: inherit;

    .footer-nav-btn {
        display: block;
        float: left;
        position: relative;
        font-size: $font-size-small;
        color: $color-white;
        text-align: center;

        &:not(:first-child) {
            &::before {
                position: absolute;
                top: 0.1rem;
                left: 0;
                height: 0.26rem;
                content: "";
                border-left: 0.01rem solid rgba(255, 255, 255, 0.5);
            }
        }

        .iconfont {
            vertical-align: middle;
        }
    }
}
