@import "src/style/base/base";

// 设置页面高度最大为视图高度
.page-view {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    font-size: 0.14rem;
    -webkit-overflow-scrolling: touch;
}

.demo-box {
    margin: 0.2rem 0.1rem;
    text-align: center;
}

.flex-demo {
    border-radius: 0.04rem;
    background-color: #20b907;
    background-clip: padding-box;
    text-align: center;
    color: #fff;
}

.popup-position-vertical {
    padding: 0.15rem;
    background-color: #ffe26d;
    font-size: 0.14rem;
    color: #000;
    text-align: center;
}

// 设置popup内容框的最大高度
.popup-content-box {
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}

.li-box {
    padding: 0.1rem 0.2rem;
    border-bottom: 0.01rem solid #ddd;
    background: #fff;
    font-size: 0.14rem;
}
