// 引入变量，以提供引用
@import "src/style/base/variables";

h1,
h2 {
    font-weight: normal;
    text-align: center;
    font-size: 0.24rem;
}

.test-list {
    li {
        line-height: 1.5;
        padding: 0.05rem;
        border-bottom: 0.01rem solid #ccc;
    }
}
