// 引入变量，以提供引用
@import "src/style/base/base";

h1,
h2 {
    font-weight: normal;
    text-align: center;
    color: $color-red;
}

input,
button {
    font-size: 0.12rem;
}

.content-body {
    padding-top: 0.48rem;
    text-align: center;
}
